
@{
    ViewBag.Title = "Lists";
}

<h2>Lists</h2>
<table>
   @foreach (var item in ViewBag.list)
   {
    <tr>
        <th>Name</th>

    </tr>
    <tr>
        <td>@item.Username</td>
    </tr>
   }
   

</table>

